/* バッジ関連 */
.badge {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    text-align: center;
    font-size: var(--font-size-sm);
    font-weight: bold;
    border-radius: var(--border-radius-sm);
}

.badge-danger {
    background-color: var(--color-danger);
    color: var(--color-light);
}

.badge-category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-md);
    background-color: var(--color-gray-lighter);
    color: var(--color-dark);
    font-size: var(--font-size-base);
    border-radius: var(--border-radius-lg);
}
